h1 About
p After which harrowing DENOUEMENT sufficient to appal the stoutest he snapped the blade to and stowed the weapon in question away as before in his chamber of horrors, otherwise pocket.
img src="/images/bloom_pocket.jpg" alt="Bloom's Pocket"
