div id='cssmenu'
  ul
    li#active <a href="/" title="Home">Home</a>
    li <a href="/about" title="About">About</a>
    li <a href="/things" title="Things">Things in His Pocket</a>
    li#last <a href="/login" title="Login">Login</a>